@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
  /* transform: translateX(10px); */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(22 22 29);
  border-radius: 5px;
}

::webkit-scroll

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(32 32 39);
}
